body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d1c3ea;
}

.header {
    background-color: #b18def;
    color: #1d0028;
    padding: 20px;
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    color: #1d0028;
}

.search {
    width: 300px; 
    position: relative;
    display: flex;
    color: #1d0028;
}

.searchTerm {
    width: 100%;
    padding: 10px; 
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox-container input,
.checkbox-container label {
    margin-bottom: 10px;
}